@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
*
{
    margin: 0;
    padding: 0;
}

h1, h2, .logo, .fact p:last-child, span, a
{
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}

h1
{
    font-size: 80px;
    line-height: 103px;
}

h2
{
    font-size: 40px;
    line-height: 52px;
    word-spacing: -1.5;
}

h3, h4, p, .planetNav-desktop li span, .planetNav-desktop li a
{
    font-family: 'League Spartan', sans-serif;
    line-height: 25px;
    font-weight: 500;
}

h3, h4
{
    font-weight: bold;
    
}

h3
{
    font-size: 12px;
    word-spacing: 2.6;
}

h4
{
    font-size: 11px;
    word-spacing: 1;
}

p
{
    
    font-size: 14px;
    line-height: 25px;
}

a{
    text-decoration: none;
    color: white;
}

li
{
    list-style-type: none;
}

body
{
    background-color: #070724;
    color: #ffffff;
}

.navLinks-desktop
{
    display: none;
}


.navBar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   z-index: 7;
    
    padding: 16px 24px;
}

.navBar, .planetNav
{
    border-bottom: 1px #ffffff18 solid ;
}


.navLinks
{
height: 100vh;
margin: 44px 24px 0px 24px;
display: none;
}


.logo
{
    display: inline-block;
    font-size: 28px;  
    
}

.logo, h1, #facts {
    text-transform: uppercase;
}



.navLinks li
{
    display: flex;
justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);

}



.navLinks li .left
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.circle
{
    width: 20px;
    height: 20px;
    margin-right: 25px;
    border-radius: 100%;
}

.navLinks a
{
    
    font-size: 25px;
    
    letter-spacing: 1.36px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    margin: 20px;
}

#mercury .circle
{
    background-color: #def4fc;
}

#venus .circle
{
    background-color: #F7CC7F;
}

#earth .circle
{
    background-color: #545BFE;
}

#mars .circle
{
   background-color: #FF6A45; 
}

#jupiter .circle
{
    background-color: #ECAD7A;
}

#saturn .circle
{
background-color: #FCCB6B;
}

#uranus .circle
{
    background-color: #65F0D5;
}

#neptune .circle
{
    background-color: #497EFA;
}

.arrow
{
    width: 4px;
    height: 4px;
    border-left: 1px white solid;
    border-bottom: 1px white solid;
    
    transform: rotate(-135deg);
}

.planetNav
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 52px;
    
}

.planetNav a
{
    opacity: .5;
}

.planetNav .active
{
    opacity: 1;

}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url("../assets/background-stars.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.planet
{
    width: 111px;
    margin: 95px 0px 98px 0px;
}

.desktopWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#venusImg
{
    width: 154px;
}

#earthImg
{
    width: 173px;
}

#marsImg{
    width: 129px;
}

#jupiterImg
{
    width: 224px;
}

#saturnImg
{
    width: 256px;
}

#uranusImg
{
    width: 176px;
}

#neptuneImg
{
    width: 173px;
}

.geology
{
    display: none;
    width: 75px;
    position: absolute;
    top: 300px;
}

#planetDescription
{
min-width: 327px;
min-height: 235px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin: 0px 24px 28px  ;
}

#planetDescription h1
{
    
    font-size: 40px;
}

#planetDescription p{
   
    line-height: 22px;
margin-bottom: 32px;
}

.source
{
    font-size: 12px;
    line-height: 25px;
    opacity: 50%;
}

#facts
{
    margin: 0px 24px 47px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.fact
{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 327px;
    height: 48px;
    border: 1px rgba(255, 255, 255, 0.267) solid;
    
}

.fact p 
{
    padding: 0px 24px;
    
}

.fact p:first-child
{
    opacity: 50%;
    letter-spacing: .73px;
    font-size: 8px;
    font-weight: bold;
    line-height: 16;
}

.fact p:last-child
{
    letter-spacing: -.75px;
    font-size: 20px;
 
}

.source a{
    text-decoration: underline;
}

.surface, .structure
{
    display: none;
}

.left
{
    display: flex;
    flex-direction: column;
}

.right
{
    display: none;
}

.planetNav-desktop
{
    display: none;
}

@media (min-width: 768px)
{

.navBar
{
  
    flex-direction: column;

   
}

.navLinks-desktop
{

    display: flex;
    align-items: center;
  
    justify-content: space-between;
    width: 100%;
    margin: 39px 51px 27px 51px;
    max-width: 665px;
}

.navBar img
{
    display: none;
}

#mercuryImg
{
    width: 184px;
}

#venusImg
{
    width: 253px;
}

#earthImg
{
    width: 285px;
}

#marsImg
{
    width: 213px;
}

#jupiterImg
{
    width: 369px;
}

#saturnImg
{
    width: 422px;
}

#uranusImg
{
    width: 290px;
}

#neptuneImg
{
    width: 285px;
}

.planetNav
{
    display: none;
}

#planetDescription
{
    width: 666px;
gap: 46px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leftFacts
{
  
    max-width: 339px;
    text-align: left;

}

.leftFacts h1
{
    font-size: 48px;
}

.rightFacts
{
    display: flex;
 
}

.planetNav-desktop
{
    text-transform: uppercase;
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planetNav-desktop li
{
border: 1px rgba(255, 255, 255, 0.329) solid;
width: 281px;
height: 40px;
display: flex;
align-items: center;
}

.planetNav-desktop li span:first-child
{
    margin: 0px 14px 0px 20px;
}

#facts
{
    flex-direction: row;
}

.fact
{
    width: 164px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

.fact p:first-child
{
   
    padding: 0px;
    margin-top: 16px;
   margin-bottom: 37px;
    line-height: 0px;
}

.fact p:last-child
{
    line-height: 0px;
    height: 31px;
   
}

.geology
{
    top: 400px;
}

}

@media (min-width: 1440px)

{
.navBar
{
    flex-direction: row;
    padding-bottom: 0px;
}

.desktopWrapper
{
 
    margin-top: 126px;
    margin-bottom: 87px;
    flex-direction: row;
    width: 75%;
justify-content: space-around;

}

.planet
{
    align-self: center;
    justify-self: center;
}

#planetDescription
{
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-between;

    margin: 0px;
    width: 350px;
gap: 30px;

    
}

.leftFacts
{
    height: 326px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#planetDescription p
{
    margin-bottom: 0px;
}




#mercuryImg
{
    width: 290px;
}

#venusImg
{
    width: 400px;
}

#earthImg
{
    width: 450px;
}

#marsImg
{
    width: 336px;
}

#jupiterImg
{
    width: 582px;
}

#saturnImg
{
    width: 666.09;
}

#uranusImg
{
    width: 458px;
}

#neptuneImg
{
    width: 450px;
}

#planetDescription h1
{
    font-size: 80px;
}



.fact
{
    width: 255px;
    height: 128px;
    align-items: flex-start;
}

.fact p:first-child
{
    padding-left: 24px;
    font-size: 11px;
}

.fact p:last-child
{
    font-size: 40px;
}

.geology
{
    top: 500px;
    left: 400px;
}

}